.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 20px;
  background:rgb(50, 50, 243) ;
  color: white;
}
span{
    &:last-child{
        font-size: 14px;
    }
}